<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Ref", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body>
  <%= if "/" <> Enum.join(@conn.path_info, "/") != "/" do %>
    <header>
      <section class="container">
        <nav role="navigation">
          <ul>
            <%= if Pow.Plug.current_user(@conn) do %>
              <li> <%= @current_user.username %></li>
              <li> <%= @current_user.paypal_email %></li>
              <li> <%= link "Sign out", to: Routes.pow_session_path(@conn, :delete), method: :delete %>
              <li> <%= link "Admin", to: Routes.service_path(@conn, :index, @current_user.username) %> </li>
            <% else %>
              <li> <%= link "Register", to: Routes.pow_registration_path(@conn, :new) %> </li>
              <li> <%= link "Sign in", to: Routes.pow_session_path(@conn, :new) %></li>
            <% end %>
          </ul>
        </nav>
        <a href="https://phoenixframework.org/" class="phx-logo">
          <img src="<%= Routes.static_path(@conn, "/images/phoenix.png") %>" alt="Phoenix Framework Logo"/>
        </a>
      </section>
            <b><%= (to_string(:inet_parse.ntoa(@conn.remote_ip))) %> </b>

    </header>
  <%end %>
    <%= @inner_content %>
  </body>
</html>
