<!DOCTYPE html>
<html lang="en">
  <head>
      <script src=
        "https://code.jquery.com/jquery-3.5.1.min.js">
    </script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Ref", suffix: " · Phoenix Framework" %>
  <%= if "/" <> Enum.join(@conn.path_info, "/") != "/"  do %>
    <link id="one" phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
 <style>
ul {
  list-style-type: none;
  margin: 10px;
  padding: 0px;
  overflow: hidden;
  background-color: transparent;
  font-family: 'Poppins', sans-serif;

}
.main{
  border-bottom-right-radius:1%;
  border-bottom-left-radius:1%;
  margin:-1%;
}
li {
  float: right;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
    position: static;


}
    </style>
  </head>
  <body>
    <header>
          <div class="main" style="clear: both;">

            <ul>
              <li><a href="#news">News</a></li>

              <li><a href="#contact">Contact</a></li>
              <li><a href="#about">About</a></li>
              <li><a class="active" href="#home">Home</a></li>

            </ul>
          </div>


    </header><br>
  <%end %>
    <%= @inner_content %>
  </body>
</html>
